@using Drinks.Models.Entities
@using Drinks.Models.ViewModel
@model List<Coin>
@{
    ViewData["Title"] = "Оплата";
    var totalAmount = ViewBag.TotalAmount as decimal? ?? 0m;
    var cartItems = ViewBag.CartItems as List<CartItem> ?? new List<CartItem>();
}

<div class="container my-5">
    <h1 class="mb-4">Оплата</h1>

    <div class="table-responsive">
        <table class="table align-middle">
            <thead class="border-bottom">
                <tr>
                    <th>Номинал</th>
                    <th class="text-center">Количество</th>
                    <th class="text-end">Сумма</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coin in Model.Where(c => !c.IsBlocked).OrderBy(c => c.Denomination))
                {
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="rounded-circle border border-dark d-flex justify-content-center align-items-center"
                                     style="width: 50px; height: 50px; font-size: 1.2rem;">
                                    @coin.Denomination
                                </div>
                                <span class="ms-2">@coin.Denomination рубль(ей)</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-outline-dark btn-sm coin-decrement" data-denomination="@coin.Denomination" style="width: 30px; height: 30px;">-</button>
                                <input type="text" class="form-control text-center mx-2 coin-input"
                                       data-denomination="@coin.Denomination" value="1" style="width: 50px;" readonly />
                                <button type="button" class="btn btn-outline-dark btn-sm coin-increment" data-denomination="@coin.Denomination" style="width: 30px; height: 30px;">+</button>
                            </div>
                        </td>
                        <td class="text-end">
                            <span class="coin-sum" data-denomination="@coin.Denomination">@coin.Denomination руб.</span>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <div class="d-flex justify-content-end align-items-center gap-5">
                            <h4 class="mb-0">
                                Итоговая сумма: <span id="total-amount">@totalAmount.ToString("0.00") руб.</span>
                            </h4>
                            <h4 class="mb-0">
                                Вы внесли: <span id="inserted-amount" class="text-danger">0 руб.</span>
                            </h4>
                        </div>
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a asp-controller="Cart" asp-action="Index" class="btn btn-warning btn-lg px-5">
            Вернуться
        </a>
        <button id="pay-button" class="btn btn-success btn-lg px-5" disabled>
            Оплатить
        </button>
    </div>
</div>

@section Scripts {
    <script src="~/js/payment.js" defer></script>
}
